.has-sticky:not(.has-under-header-sticky) .site-header,
.has-sticky.has-under-header-sticky .under-header {
	position: sticky;
	top: 0;
	transition: all 350ms;
	z-index: 999;
}

.sticky-scroll-position {
	&:not(.has-under-header-sticky) {
		& .site-header {
			transform: translateY(-100%);
		}

		&.show-scroll-position .site-header {
			transform: translateY(0%);
		}

		&.logged-in.show-scroll-position {
			& .site-header {
				top: 32px;
			}
		}
	}

	&.has-under-header-sticky {
		& .under-header {
			transform: translateY(-100%);
		}

		&.show-scroll-position .under-header {
			transform: translateY(0%);
		}

		&.logged-in.show-scroll-position {
			& .under-header {
				top: 32px;
			}
		}
	}

}
