@import "./css/general/general.css";
@import "./css/helpers/helpers.css";
@import "./css/blocks/blocks.css";
@import "./css/third-party/third-party.css";

/* Customize title blocks */
.edit-post-visual-editor__post-title-wrapper {
	background: #f3f4f5;
	border-bottom: 1px solid #ddd;
	margin-top: 0 !important;
	max-width: none !important;
}

.edit-post-visual-editor__post-title-wrapper .editor-post-title__input {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	max-width: 100% !important;
	padding: 20px;
}

.block-editor-block-list__layout.blog-header {
	background: #a9a9a9;
}
